* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fdfdfd;
  color: #333;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%
}


header {
  background: linear-gradient(to bottom, #6ea8d9, #bcd5eb);
  padding: 25px 15px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  position: relative;
  width: 100%;
}

.logo img {
  width: 100px;
}

.text-wrap h1 {
  font-size: 1.9rem;
  color: white;
}

.text-wrap p {
  font-size: 1rem;
  color: #f4f4f4;
}

/* MENU TOGGLE */
.menu-toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}


.sidebar {
  position: fixed;
  left: -260px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #6ea8d9;
  transition: 0.3s ease;
  padding: 20px;
  z-index: 1200;
}

.sidebar.active {
  left: 0;
}

.sidebar .close-btn {
  text-align: right;
  font-size: 26px;
  cursor: pointer;
}

.sidebar .profile {
  text-align: center;
  margin: 20px 0;
}

.sidebar .profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.menu-container {
  width: 100%;
  padding: 20px;
  max-width: 450px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu-btn {
  width: 100%;
  padding: 17px;
  background: white;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.menu-btn img {
  width: 28px;
}


.footer-shape {
  width: 50%;
  height:70%
  border-radius:40px 40px 0 0;
  bacground: linear-gradient(to top, #69aee9, #b5dcf7)

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 35px;
}

.shape {
  width: 70px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background: linear-gradient(to top, #6ea8d9, #bcd5eb);
}


@media screen and (max-width: 480px) {

  header {
    padding: 20px 10px;
  }

  .logo img {
    width: 80px;
  }

  .text-wrap h1 {
    font-size: 1.5rem;
  }

  .text-wrap p {
    font-size: .85rem;
  }

  .menu-btn {
    font-size: 15px;
    padding: 14px;
  }

  .shape {
    width: 55px;
    height: 80px;
  }
}


