/* BACKGROUND */
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(to bottom, #80b7d9, #dfeff7);
  min-height: 100vh;
}

/* HEADER */
.header-profil {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 25px;
}

.back-btn {
  font-size: 28px;
  text-decoration: none;
  color: #333;
}

.header-profil h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}

/* FOTO PROFIL */
.profile-photo-wrapper {
  width: 170px;
  height: 170px;
  margin: 25px auto;
  position: relative;
}

.profile-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

/* TOMBOL EDIT */
.edit-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

/* FORM PROFIL */
.profile-form {
  width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-form label {
  font-size: 15px;
  margin-top: 10px;
}

.profile-form input {
  padding: 12px 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #ffffffd0;
  font-size: 15px;
}

/* RESPONSIVE HP */
@media (max-width: 600px) {
  .profile-form {
    width: 85%;
  }

  .header-profil h1 {
    font-size: 24px;
  }

  .back-btn {
    font-size: 24px;
  }

  .profile-photo-wrapper {
    width: 145px;
    height: 145px;
  }
}
